<!DOCTYPE html>
<html>
<head>
    <title>CS 290 Assignment 5</title>
</head>
<body>
    <h1>CS 290 Assignment 5</h1>
    <form action="/write" method="post">
        <label for="text">Insert Your Email:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <button type="submit">Write Email to File</button>
    </form>
    <br>
    <button onclick="readText()">Read Emails from File</button>
    <p id="display-text"></p>
    
    <script>
        function readText() {
            fetch('/read')
                .then(response => response.text())
                .then(data => {
                    document.getElementById("display-text").innerText = data;
                });
        }
    </script>
</body>
</html>
