<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
    </head>

    <body>
        <h1 id="top">Gym Genius</h1>

        <h3 class="h3">Frequently Asked Questions (FAQ)</h3>
        <ul>
            <li>How often should I be working out?</li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FY5O607L08k" frameborder="0" allowfullscreen></iframe>
            <li>How long should I spend in the gym?</li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4OzlcooTbyk" frameborder="0" allowfullscreen></iframe>
            <li>What should I be eating?</li>
            <br>
            <div class="center">
                <table border="1">
                    <caption class="bold">Foods for Bulking/Cutting</caption>
                    <thead>
                        <tr>
                            <th>Bulking</th>
                            <th>Cutting</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Peanut Butter, Whole Eggs, Greek Yogurt, Olive Oil, Beef, Salmon, Chicken</td>
                            <td>Chicken, Egg Whites, Brown Rice, Leafy Greens (Kale, Spinach, etc.), Salmon</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">DISCLAIMER: Please be aware of any dietary restrictions or allergies you may have</td>
                        </tr>
                    </tfoot>
                </table>
                </div>
        </ul>
        <br>

        <br><br>
        <a href="#top" role="link">Back to Top</a>

        <div class="breadcrumbs">
            <a href="/">Home</a> >
            <a href="/popular">Popular Exercises</a>
        </div>
    </body>

</html>
